Django
django-environ
djangorestframework
djangorestframework-simplejwt
drf-spectacular
psycopg[binary]
PyJWT
PyYAML
asgiref
attrs
build
click
inflection
jsonschema
jsonschema-specifications
packaging
pip-tools
pyproject-hooks
referencing
rpds-py
setuptools
sqlparse
typing-extensions
uritemplate
wheel